%h1 Listing professors

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Title
      %th
      %th
      %th

  %tbody
    - @professors.each do |professor|
      %tr
        %td= professor.first_name
        %td= professor.last_name
        %td= professor.title
        %td= link_to 'Show', professor
        - if user_admin?
          %td= link_to 'Edit', edit_professor_path(professor)
          %td= link_to 'Destroy', professor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if user_admin?
  = link_to 'New Professor', new_professor_path
