%h1 Listing professors

%table.table.table-striped
  %thead
    %tr
      %th First name
      %th Last name
      %th Title
      %th
      - if admin?
        %th
        %th

  %tbody
    - @professors.each do |professor|
      %tr
        %td= professor.first_name
        %td= professor.last_name
        %td= professor.title
        %td= button_to 'Show', professor
        - if admin?
          %td= button_to 'Edit', edit_professor_path(professor)
          %td= button_to 'Destroy', professor, :method => :delete, :data => { :confirm => 'Are you sure?' }

- if admin?
  = button_to 'New Professor', new_professor_path
= will_paginate