%p#notice= notice

%table.table
  %tr
    %th First name
    %th Last name
    %th Title
    %th Subjects
  %tr
    %td= professor.first_name
    %td= professor.last_name
    %td= professor.title
    %td= professor.subjects.join(', ') 

%p
  %b Likes:
  = professor.get_likes.size
%p
  %b Dislikes:
  = professor.get_dislikes.size

%div
  %a{:href => upvote_professor_path(professor), :class => 'btn btn-default'}
    .span.glyphicon.glyphicon-thumbs-up
  %a{:href => downvote_professor_path(professor), :class => 'btn btn-default'}
    .span.glyphicon.glyphicon-thumbs-down

%p
  %b Comments:
%table#comments
  - professor.comments.each do |comment|
    %tr
      %td= comment.user.name
      %td= comment.content
%p
  %b Add comment:
  = render 'comments/form'

= button_to 'Edit', edit_professor_path(professor)

= button_to 'Back', professors_path
