%h1= professor.first_name + " " + professor.last_name + ", " + professor.title

%p#notice= notice

%p
  %b Subjects:
  - if professor.subjects.count == 0 
    None
  - else
    - professor.subjects.each do |subject|
      = subject.name

.votes_box
  Positive votes: 
  = professor.vote_average + "%"
  .votes.likes
    = professor.get_likes.size
    %a{:href => upvote_professor_path(professor), :class => 'btn'}
      .span.glyphicon.glyphicon-thumbs-up
  .votes.dislikes
    = professor.get_dislikes.size
    %a{:href => downvote_professor_path(professor), :class => 'btn'}
      .span.glyphicon.glyphicon-thumbs-down

%p
  %b Add comment:
  = render 'comments/form'

%p
  %b Comments:

.comments= render professor.comments.order('created_at DESC')
= button_to 'Edit', edit_professor_path(professor)

= button_to 'Back', professors_path
