%h1 Listing subjects

= render 'search_form'
= @params
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Short name
      %th Description
      %th
      %th
      %th
  - if admin?
    = link_to "Add new subject", new_subject_path, class: "btn btn-primary"

  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.name
        %td= subject.short_name
        %td= subject.description
        %td= link_to 'Show', subject, class: "btn btn-primary"
        - if current_user && current_user.admin?
          %td= link_to 'Edit', edit_subject_path(subject), class: "btn btn-primary"
          %td= link_to 'Destroy', subject, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"

%br