%p#notice= notice

%p
  %b Name:
  = subject.name
%p
  %b Short name:
  = subject.short_name
%p
  %b Description:
  = subject.description

= link_to 'Edit', edit_subject_path(subject)
\|
= link_to 'Back', subjects_path
