%p#notice= notice

%p
  %b Name:
  = subject.name
%p
  %b Short name:
  = subject.short_name
%p
  %b Description:
  = subject.description

= link_to 'Edit', edit_subject_path(subject)
\|
= link_to 'Back', subjects_path

%p= link_to 'Show all items', subject_subject_items_path(subject.id), class: "btn btn-primary"

%p= link_to "Add new subject item", new_subject_subject_item_path(subject.id), class: "btn btn-primary"
	
